// Header

// User login
.header-meta {
  background-color: lighten($bg-dark, 5%);
}

// The user links in the top right
.user-nav {
  font-size: rem-calc(12px);
  margin-bottom: 0;

  a {
    color: $white;
    display: inline-block;
    padding: rem-calc(6px 10px);
  }
}

// Logo and title
.header-top {
  background-color: $bg-dark;
  padding: 1em 0;

  a {
    color: $white;
  }

  .hamburger {
    @include hamburger($white, $light-gray, 20px, 12px, 1px, 3);
  }
}

.header-top__menu.cell {
  align-items: center;
  display: flex;
  margin-right: rem-calc(14px);
}

.header-top__menu-inner {
  padding-left: rem-calc(14px);
}
