// Header

// Fix the header on the homepage before the up/down script runs.
body:not(.user-logged-in).path-frontpage {
  .header {
    position: fixed;
    width: 100%;
  }
}

// Assign styles to be used by the header up.down script.
body:not(.user-logged-in) {
  &.path-user .header.header--fixed {
    position: relative;
  }
  .header {
    &.header--fixed {
      position: fixed;
      top: 0;
      transition: top 500ms ease-in-out, background 500ms ease-in-out;
      width: 100%;
      z-index: 1;
    }

    &.header--up {
      top: -100%;
    }

    &.header--down {
      background: rgba(0, 0, 0, 0.75);
    }
  }
}

// Fixed, transparent header. This class is applied to the off-canvas-wrapper.
.path-frontpage:not(.user-logged-in) {
  .clear-header {
    .header {
      width: 100%;
      z-index: 1;
    }

    .header-meta,
    .header-top,
    .top-bar-outer {
      background: transparent;
    }

    .header-top {
      padding-top: 0;
    }

    .top-bar-outer {
      border: 0;
    }
  }
}

// User login
.header-meta {
  background-color: lighten($bg-dark, 5%);
}

// The user links in the top right
.user-nav {
  font-size: rem-calc(12px);
  margin-bottom: 0;

  a {
    color: $white;
    display: inline-block;
    padding: rem-calc(6px 10px);
  }
}

// Logo and title
.header-top {
  background-color: $bg-dark;
  padding: 1em 0;

  a {
    color: $white;
  }

  .hamburger {
    @include hamburger($white, $light-gray, 20px, 12px, 1px, 3);
  }
}

.header-top__menu.cell {
  align-items: center;
  display: flex;
  margin-right: rem-calc(14px);
}

.header-top__menu-inner {
  padding-left: rem-calc(14px);
}

// Navigation in the header
.header-top__navigation {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  .menu {
    margin-right: rem-calc(20px);

    a {
      font-size: rem-calc(14px);
      font-weight: $global-weight-bold;
      position: relative;
      text-transform: uppercase;

      &:after {
        background-color: $primary-color;
        bottom: 0;
        content: '';
        display: block;
        height: rem-calc(3px);
        left: get-side($global-menu-padding, left);
        position: absolute;
        transition: width 250ms ease-in;
        width: 0;
      }

      &:hover,
      &:focus {
        &:after {
          width: rem-calc(35px);
        }
      }
    }
  }

  .button {
    margin: 0;
  }
}

.header-site-name {
  margin-bottom: 0;
}

.logo {
  @include breakpoint(medium) {
    width: rem-calc(75px);
  }
  width: rem-calc(50px);
}
