.top-bar-outer {
  background-color: $bg-dark;
  border-top: 1px solid lighten($bg-dark, 10%);
}

// Style the search form, if embedded in the Top Bar.
.top-bar {
  input {
    margin: 0;
  }

  .search-block-form {
    form {
      display: flex;
    }

    .form-item-keys,
    .form-actions {
      display: flex;
    }
  }

  a {
    color: $white;
  }

  .dropdown.menu {
    > li:first-child {
      > a {
        padding-left: 0;
      }
    }
  }
}
