// Admin tabs - sit below toolbar.
// Variables - change to match theme as required:
$tab-color: #666;
$tab-font: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', 'Lucida Sans', arial, sans-serif;
$tab-font-weight: bold;
$page-container: '.user-login-wrapper'; // defines wrapper - can be diff. per site.
$tab-button-bg: rgba($tab-color, 0);
$tab-button-color: rgba($tab-color, 0.7);
$tab-button-bg-hover: rgba($tab-color, 0.3);
$tab-button-bg-active: rgba($tab-color, 0.2);

.block-local-tasks-block {
  font-family: $tab-font;
  z-index: 1;
  padding: 0;

  .contextual {
    // Hide contextual on this block.
    display: none;
  }

  .button-group {
    margin: 0;

    @media screen and (min-width: 1024px) {
      justify-content: left;
    }
  }

  .button {
    background-color: $tab-button-bg;
    color: $tab-button-color;
    padding: 1em 1.3333em 0.8em !important;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    font-size: 10px;
    font-weight: $tab-font-weight;
    border: 0;

    @media screen and (min-width: 1024px) {
      font-size: 12px;
    }

    &:before {
      display: none !important;
    }

    &:hover,
    &:focus {
      color: $tab-color;
      background-color: $tab-button-bg-hover;
    }

    &.active {
      color: $tab-color;
      background-color: $tab-button-bg-active;
    }
  }
}
