// Styles user login and password recovery pages.
// Use the local variables to set colors, fonts to match theme:
// ------------------------------------------------------
// 1. defines page wrapper - may be diff. per site.
$page-container: '.path-user';
$global-padding: 7vmin;

// 2. Set some basic page settings:
// --> Field borders all 4 sides?
$borders-all: true;
// $borders-all: false;

// --> Position tabs below form?
$tabs-below: true;
// $tabs-below: false;

// --> Hide the footer?
$hide-footer: true;
// $hide-footer: false;

// --> Style the tabs block?
// $tabs-block-modify: true;
$tabs-block-modify: false;

// 3. Assign theme colors here:
$login-page-header: transparent !default;
$login-page-bgd-color: #05071c;
$login-text-color-primary: #999;
$login-text-color-secondary: #666;
$login-box-bgd: #05071c;
$login-box-border-color: #666;
$login-box-radius: 4px;
$login-font: sans-serif;
$login-tab-color: #999;
$login-tab-color-active: #fff;

// 5. Specific form element attributes:
$login-field-text-color: $login-text-color-primary;
$login-field-text-color-placeholder: rgba($login-field-text-color, 0.75);
$login-field-bgd-color: $login-page-bgd-color;
$login-border-color: $login-text-color-secondary;
$login-border-color-focus: #fff;
$login-button-text-color: #fff;
$login-button-color: #666;
$login-button-color-focus: #999;
$login-field-radius: 4px;
$login-button-radius: 4px;
$login-error-color: #f0f;
$login-required-color: #ff0;

// 6. Mixin defines placeholder selector, do not change.
@mixin login-input-placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}

// Page display:
#{$page-container}:not(.user-logged-in) {
  background-color: $login-page-bgd-color;

  header {
    background-color: $login-page-header;
  }

  // Specific fix for this theme.
  .main-wrapper {
    padding-top: 0 !important;
    position: absolute;
    width: 100%;
  }

  .header-meta {
    display: none;
  }

  .header-top {
    background-color: $login-page-header;

    .site-branding {
      justify-content: center;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 500px;
    padding: #{$global-padding * 0.5} $global-padding;
    margin: 1rem auto 0;
    background: $login-box-bgd;

    @media screen and (min-width: 600px) {
      width: 85%;
      border: 1px solid $login-box-border-color;
      border-radius: $login-box-radius;
    }

    @media screen and (min-width: 992px) {
      margin: 10rem auto 0;
    }

    [aria-label='Error message'] {
      color: $login-error-color;
      font-size: 12px;
      text-align: center;

      @media screen and (min-width: 992px) {
        font-size: 14px;
      }
    }
  }

  h1 {
    font-family: $login-font;
    font-weight: normal;
    font-size: 18px;
    color: $login-text-color-primary;
    text-align: center;
    letter-spacing: 0;

    @media screen and (min-width: 992px) {
      font-size: 22px;
    }
  }

  // Login and Password forms:
  .user-login-form,
  .user-pass {
    text-align: center;

    label {
      font-family: $login-font;
      font-weight: normal;
      color: $login-text-color-primary;
      text-align: left;
      font-size: 12px;

      &.form-required:after {
        color: $login-required-color;
      }

      @media screen and (min-width: 992px) {
        font-size: 14px;
      }

      @media screen and (min-width: 1100px) {
        font-size: 16px;
      }
    }

    .form-item {
      margin: 2.5vmin 0;

      [type='text'],
      [type='password'] {
        // IF placeholder
        @include login-input-placeholder {
          color: $login-field-text-color-placeholder;
        }

        -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
        border: 0;
        border-bottom: 1px solid $login-border-color;
        background: $login-field-bgd-color;
        color: $login-field-text-color;
        box-shadow: none;
        padding: 0.25em 0.5em;
        font-weight: bold;
        font-size: 16px;
        line-height: 2;
        height: auto;

        @media screen and (min-width: 992px) {
          font-size: 20px;
        }

        @if ($borders-all) {
          border: 1px solid $login-border-color;
          border-radius: $login-field-radius;
        }

        &:focus,
        &:hover {
          border-color: $login-border-color-focus;
        }
      }
    }

    .form-actions {
      margin: $global-padding auto 0;
      text-align: center;
      position: relative;
      display: inline-block;

      @media screen and (min-width: 992px) {
        margin: #{$global-padding * 0.5} auto 0;
      }

      input {
        position: relative;
        cursor: pointer;
        z-index: 2;
        font-size: 14px;
        margin: 0;
        padding: 0.8em 1.5em 0.9em;
        border: 0;
        border-radius: $login-button-radius;
        background: $login-button-color;
        color: $login-button-text-color;

        &:hover {
          background: $login-button-color-focus;
          color: $login-button-text-color;
        }
      }
    }

    .description {
      display: none;
    }

    p {
      font-size: 12px;
      margin: 0;
      text-align: center;
      padding: 0 10%;
      font-family: $login-font;
      color: $login-text-color-secondary;

      @media screen and (min-width: 1024px) {
        font-size: 16px;
      }
    }
  }

  // Hiding footer keeps things clean.
  @if ($hide-footer) {
    footer {
      display: none;
    }
  }

  // This will style the Drupal --> Tabs block.
  // Comment out for standard Drupal appearance.
  @if ($tabs-block-modify) {
    .block-local-tasks-block {
      @if ($tabs-below) {
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;

        @media screen and (max-width: 760px) and (orientation: portrait) {
          bottom: $global-padding * 0.5;
          top: auto;
          position: fixed;
        }
      }

      nav {
        margin: 0 auto;
        text-align: center;

        ul {
          display: flex;
          justify-content: center;

          li {
            margin: 0 5px;
          }
        }

        a {
          margin: 0.5em;
          padding: 0.2em;
          border: 0;
          font-size: 12px;
          font-weight: bold;
          font-family: $login-font;
          color: $login-tab-color;
          border-bottom: 0;

          @media screen and (min-width: 1024px) {
            font-size: 15px;
          }

          &:hover {
            color: $login-text-color-secondary;
            border-bottom: 1px solid $login-border-color;
          }

          &.is-active {
            border-bottom: 1px solid $login-border-color;
            color: $login-tab-color-active;
          }
        }
      }
    }
  }
  @else {
    .block-local-tasks-block {
      position: relative;
    }
  }
}
