{% extends "page.html.twig" %}
{#
/**
 * @file
 * Page template changes for = User login/password pages.
 *
 */
#}

{% block replaceable %}
  <main id="main" class="user-login-wrapper user-reset">
  <h1>Password Reset</h1>
      {{ page.content }}
  </main>
{% endblock %}
