{% extends "page.html.twig" %}
{#
/**
 * @file
 * Page template changes for = User login/password pages.
 *
 */
#}

{% block replaceable %}
  <main id="main" class="user-page-wrapper user-page">
  <h1>User Account</h1>
      {{ page.content }}
  </main>
{% endblock %}
