// Button
//
// Buttons come in a few different shapes, sizes and colors.
//
// Weight: 10
//
// Styleguide base.button

// Import button documentation
@import 'button-doc';

$button-trp-light: rgba(255, 255, 255, 0.2);
$button-trp-light-hover: rgba(255, 255, 255, 0.3);
$button-trp-dark: rgba(0, 0, 0, 0.2);
$button-trp-dark-hover: rgba(0, 0, 0, 0.3);
$button-trp-secondary: rgba($secondary-color, 0.5);
$button-trp-secondary-hover: rgba($secondary-color, 0.6);

.button {
  font-weight: $global-weight-bold;
  text-transform: uppercase;

  .fa {
    left: 4px;
    position: relative;
    top: 1px;
  }

  &.semi-transparent-light {
    background-color: $button-trp-light;

    &:hover,
    &:focus {
      background-color: $button-trp-light-hover;      
    }
  }

  &.semi-transparent-dark {
    background-color: $button-trp-dark;

    &:hover,
    &:focus {
      background-color: $button-trp-dark-hover;      
    }
  }

  &.semi-transparent-secondary {
    background-color: $button-trp-secondary;

    &:hover,
    &:focus {
      background-color: $button-trp-secondary-hover;      
    }
  }
}
