// Typography
//
// Weight: 20
//
// Styleguide base.text

// Import typography documentation
@import 'text-doc';

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: -0.05em;
}

.text-light * {
  border-color: $white !important;
  color: $white !important;

  .contextual-links a {
    color: $body-font-color !important;
  }

  a,
  a:focus,
  a:hover {
    color: $white !important;
  }

  a:focus,
  a:hover {
    text-decoration: underline;
  }

  .field--type-text-long,
  .field--type-text-with-summary,
  .links {
    a {
      text-decoration: underline;
    }
  }
}

.text-dark * {
  border-color: $dark-gray !important;
  color: $dark-gray !important;

  .contextual-links a {
    color: $body-font-color !important;
  }

  a,
  a:focus,
  a:hover {
    color: $dark-gray !important;
  }

  .field--type-text-long,
  .field--type-text-with-summary,
  .links {
    a {
      text-decoration: underline;
    }
  }
}
