// Accordion

.accordion {
  border-top: 1px solid $light-gray;
}

.accordion-item {
  border-bottom: 1px solid $light-gray;
}

.is-active > .accordion-title::before {
  content: '\f077';
}

.accordion-title {
  font-family: $font-alt;
  font-weight: $global-weight-semibold;

  &:before {
    @extend %fa;
    color: $primary-color;
    content: '\f078';
    right: 0;
  }
}
