// Accordions and tabs

$accordion-title-color: rgba($body-font-color, 0.65);

// Tabs
.tabs-title {
  margin-right: rem-calc(20px);

  &:last-child {
    margin-right: 0;
  }

  a {
    border-bottom: 2px solid transparent;
    font-weight: $global-weight-semibold;
    color: $accordion-title-color;

    &[aria-selected='true'] {
      border-bottom-color: $primary-color;
    }

    &:focus {
      outline: 0;
    }
  }
}

// Accordion
.accordion {
  border-top: 1px solid $light-gray;
}

.accordion-item {
  border-bottom: 1px solid $light-gray;
}

.is-active > .accordion-title::before {
  content: '\f077';
}

.accordion-title {
  font-family: $font-alt;
  font-weight: $global-weight-semibold;

  &:before {
    @extend %fa;
    color: $primary-color;
    content: '\f078';
    right: 0;
  }
}
