// Generic block styles and styles for custom block types.

// Stats
.statistic__icon {
  color: $primary-color;
}

.statistic__title {
  text-align: center;
}

.statistic__value {
  margin-bottom: rem-calc(16px);
}

.statistic__statistic {
  letter-spacing: -0.05em;
}

.statistic__text {
  @extend %text--20;
}

// CTAs
.cta {
  background-color: $primary-color;
  color: $white;
  padding: rem-calc(30px 60px);

  .button {
    background-color: transparent;
    border-color: $white;

    &:hover,
    &:focus {
      background-color: $black;
    }
  }
}

.cta__container {
  @include breakpoint(medium) {
    align-items: center;
    display: flex;
  }
}

.cta__body {
  @include breakpoint(medium) {
    flex-grow: 1;
    margin-bottom: 0;
    padding-right: rem-calc(80px);    
  }
}

.cta__links {
  @include breakpoint(medium) {
    flex-shrink: 0;  
  }

  .button {
    margin-bottom: 0;
  }
}

// Image blocks
.image {
  overflow: hidden;

  img {
    transition: transform 300ms ease-in;

    &:hover {
      transform: scale(1.05);
    }
  }
}
